.themeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
}

.themeIcon {
    fill: var(--text-main);
}